// Variables
$bodyText: #262626;
$bodyBg: #fff;
$mainLinkColor: #8c989c;
$mainHoverColor: #fff;
$darkGray: #232b2d;
$lightGray: #313b3d;
$dividerColor: #3b4648;
$redOrange: #fa7252;
$redOrangeDark: #f16645;
$redOrangeDarker: #de5939;

// Mixins & Shortcuts
@mixin bodyStyle {
	font: 13px/18px Arial, Verdana, sans-serif;
	color: $bodyText;
	background: $bodyBg url(../img/test_bg.jpg) 0 0 no-repeat;
}
@mixin clearFix {
	&:after {
		height: 0;
		content: '';
		visibility: hidden;
		clear: both;
		display: block;
	}
}
@mixin textIndent {
	text-indent: -9999px;
	display: block;
}

// Imports
@import 'reset';

html, body {
	height: 100%;
}

// Site wrap
#site-wrap {
	width: 980px;
	@include clearFix;
		header {
			height: 69px;
			padding-top: 1px; // Fix collapsible-margin
			background: $darkGray;
			@include clearFix;
				h1, nav {
					float: left;
				}
				h1 {
					width: 113px;
					margin: 23px 0 0 24px;
						a {
							width: 113px;
							height: 24px;
							@include textIndent;
							background: transparent url(../img/logo.png) 0 0 no-repeat;
					  }
				}
				nav {
					margin: 24px 0 0 39px;
						li {
							float: left;
								a {
									padding: 15px;
										&:hover {
											background: $lightGray;
										}
								}
						}
				}
		}
}
#search, #user-login {
	float: right;
}

// Search box
#search {
	margin: 17px 28px 0 0;
		input {
			width: 91px;
			padding: 9px 12px 9px 30px;
			color: #5f6a6d;
			background: $lightGray url(../img/magnifier_icon.png) 10px center no-repeat;
			border-radius: 30px;
		}
}

// User login module & control panel
#user-login {
	width: 191px;
	margin-top: 18px;
	color: #8c989c;
	cursor: pointer;
	position: relative;
		>img, >p {
			float: left;
		}
		img {
			width: 32px;
			height: 32px;
		}
		p {
			padding: 0 22px 0 16px;
			line-height: 32px;
			background: transparent url(../img/dropdown_icon.png) right center no-repeat;
		}
		&:hover {
			#control-panel {
				display: block;
			}
		}
}
#control-panel {
	display: none;
	position: absolute; top: 35px;
		ul {

		}
		li {
			width: 151px;
			padding: 5px 0 5px 15px;
			background: $lightGray;
			border-bottom: 1px solid $dividerColor;
				a {
					display: block;
				}
				// This is not supported in earlier IE browsers
				&:last-child {
					border-bottom: none;
				}
		}
}

// Course info
#course-info, #content {
	float: left;
}
#course-info {
	width: 270px;
	padding-bottom: 415px;
}
#course-highlight {
	height: 203px;
	padding-top: 43px;
	background: $redOrange;
		h2 {
			width: 218px;
			margin: 0 auto 42px;
			font-family: Georgia, serif;
			font-size: 21px;
			color: #fff;
			line-height: 32px;
		}
}
#course-instructor-info {
	padding-left: 30px;
	@include clearFix;
		img, p {
			float: left;
		}
		img {
			width: 40px;
			height: 40px;
			margin-right: 15px;
		}
		p {
			margin-top: 2px;
			font-size: 11px;
			color: #ffcfc2;
				span {
					font-weight: bold;
					font-size: 12px;
					color: #fff;
					display: block;
				}
		}
}
#course-progress {
	height: 55px;
	padding-top: 25px;
	background: $redOrangeDark;
	@include clearFix;
		p, div {
			float: left;
		}
		p {
			width: 40px;
			height: 30px;
			margin: 0 15px 0 30px; 
			font-weight: bold;
			font-size: 10px;
			color: #fff;
			text-align: center;
			line-height: 30px;
			background: $redOrangeDarker;
		}
		div {
			width: 155px;
			height: 4px;
			margin-top: 13px;
			background: $redOrangeDarker;
				span {
					width: 50%; // Temporary, will be set by script
					height: 4px;
					background: #fff;
					display: block;
				}
		}
}

// Course lesson wrapper and styles
#course-lessons {
	background: $lightGray;
		.parent-section {
			background: transparent url(../img/vertical_line_pattern.png) 49px 0 repeat-y;
			@include clearFix;
				>h1 {
					min-height: 18px;
					padding: 21px 22px 21px 29px;
					font-size: 13px;
					color: $mainLinkColor;
					background: $darkGray;
				}
		}
		.child-section {
			width: 219px;
			color: #fff;
			float: right;
				section {
					height: 86px;
					margin-left: 17px;
					padding: 24px 20px 0 5px;
					border-bottom: 2px solid $dividerColor;
					cursor: pointer;
					position: relative;
						&:last-child {
							border-bottom: none;
						}
						h1 {
							margin-bottom: 9px;
							padding-left: 27px;
							font-size: 11px;
							text-transform: uppercase;
						}
						.icon {
							position: absolute;
						}
				}
		}
}

// States for menu content icons
.untouched {
	color: #fff;
		&.picture {
			h1 {
				background: transparent url(../img/picture_icon_on.png) 0 0 no-repeat;
			}
		}
		&.movie {
			h1 {
				background: transparent url(../img/movie_icon_on.png) 0 0 no-repeat;
			}
		}
		&.article {
			h1 {
				background: transparent url(../img/article_icon_on.png) 0 0 no-repeat;
			}
		}
		.icon {
			width: 6px;
			height: 14px;
			background: transparent url(../img/bullet_icon_on.png) 0 0 no-repeat;
			top: 30px; left: -21px;
		}
}
.inprogress {
	color: #949494;
		&.picture {
			h1 {
				background: transparent url(../img/picture_icon_off.png) 0 0 no-repeat;
			}
		}
		&.movie {
			h1 {
				background: transparent url(../img/movie_icon_off.png) 0 0 no-repeat;
			}
		}
		&.article {
			h1 {
				background: transparent url(../img/article_icon_off.png) 0 0 no-repeat;
			}
		}
		.icon {
			width: 6px;
			height: 14px;
			background: transparent url(../img/bullet_icon_off.png) 0 0 no-repeat;
			top: 30px; left: -21px;
		}
}
.current {
	color: #fff;
		&.picture {
			h1 {
				background: transparent url(../img/picture_icon_on.png) 0 0 no-repeat;
			}
		}
		&.movie {
			h1 {
				background: transparent url(../img/movie_icon_on.png) 0 0 no-repeat;
			}
		}
		&.article {
			h1 {
				background: transparent url(../img/article_icon_on.png) 0 0 no-repeat;
			}
		}
		.icon {
			width: 16px;
			height: 24px;
			background: transparent url(../img/arrow_icon.png) 0 0 no-repeat;
			top: 21px; left: -26px;
		}
}
.finished {
	color: #5f6a6d;
		&.picture {
			h1 {
				background: transparent url(../img/picture_icon_disabled.png) 0 0 no-repeat;
			}
		}
		&.movie {
			h1 {
				background: transparent url(../img/movie_icon_disabled.png) 0 0 no-repeat;
			}
		}
		&.article {
			h1 {
				background: transparent url(../img/article_icon_disabled.png) 0 0 no-repeat;
			}
		}
		.icon {
			width: 16px;
			height: 24px;
			background: transparent url(../img/check_icon.png) 0 0 no-repeat;
			top: 21px; left: -26px;
		}
}

// Main content display area
#content {
	//width: 710px;
	width: 648px;
	padding-top: 49px;
	padding-right: 31px;
	padding-left: 31px;
}
#article {
	color: #323b3d;
		>h1 {
			margin-bottom: 44px;
			padding-bottom: 43px;
			font-size: 21px;
			line-height: 32px;
			border-bottom: 1px solid #eaeeef;
		}
		>p {
			width: 405px;
			margin-left: 29px;
			font-size: 16px;
			line-height: 25px;
			float: left;
				~p {
					width: 577px;
					float: none;
				}
		}
		dl {
			margin: 3px 27px 0 0;
			text-align: right;
			float: right;
				dt {
					margin-bottom: 20px;
					font-size: 17px;
				}
				dd {
					margin-bottom: 2px;
						a {
							color: #323b3d;
						}
				}
		}
		img {
			margin: 44px 0 40px;
			clear: both;
		}
}
#lesson-info {
	margin-bottom: 23px;
	padding-top: 1px; // Fix collapsible-margin
	@include clearFix;
		p {
			padding-left: 24px;
			background: transparent url(../img/picture_icon_light.png) 0 0 no-repeat;
			float: left;
				span {
					font-weight: bold;
				}
				+p {
					width: 105px;
					padding-left: 0px;
					text-align: right;
					background: transparent url(../img/clock_icon.png) 0 0 no-repeat;
					float: right;
				}
		}
}
#settings {
	height: 40px;
	margin-top: 68px;
	background: transparent url(../img/horizontal_line_pattern2.png) left center repeat-x;
		ul {
			width: 180px;
			margin: 0 auto;
			@include clearFix;
		}
		li {
			float: left;
				a {
					width: 40px;
					height: 40px;
					@include textIndent;
					background-color: #fff;
					background-repeat: no-repeat;
				}
		}
}
#favs {
	padding-left: 15px;
	background-image: url(../img/favorite_icon_off.png);
	background-position: right 0;
}
#refresh {
	padding: 0 15px;
	background-image: url(../img/refresh_icon_off.png);
	background-position: center 0;
}
#check {
	padding-right: 15px;
	background-image: url(../img/check_icon_on.png);
	background-position: left 0;
}

// Next lesson module
#next-lesson {
	margin-top: 21px;
	padding-bottom: 41px;
	@include clearFix;
	border-bottom: 2px solid #eaeeef;
}
#lesson-instructor-info {
	float: left;
		img, p {
			float: left;
		}
		img {
			margin-right: 15px;
		}
		p {
			margin-top: 5px;
			font-size: 16px;
			line-height: 22px;
				span {
					font-weight: bold;
					display: block;
				}
		}
}
#goto-next-lesson {
	font-size: 16px;
	text-align: right;
	float: right;
		p {
			margin-top: 4px;
			line-height: 24px;
				span {
					display: block;
						a {
							padding-right: 24px;
							font-weight: bold;
							color: #323b3d;
							background: transparent url(../img/right_arrow_icon.png) right center no-repeat;
						}
				}
		}
}

// Questions and comments
#questions {
	margin-top: 48px;
		p {
			font-weight: bold;
			font-size: 16px;
			@include clearFix;
				span {
					margin-top: 2px;
					font-size: 11px;
					float: right;
						a {
							color: #89989c;
							border-bottom: 2px solid #eaeeef;
						}
				}
		}
}
#comments {
	margin-top: 45px;
	@include clearFix;
		img, form {
			float: left;
		}
		img {
			margin-right: 14px;
		}
		form {
			p + p {
				background: #f4f6f7;
				border: 2px solid #eaeeef;
				border-top: none;
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			button {
				margin: 12px 0 16px 503px;
				padding: 11px;
				font-weight: bold;
				font-size: 12px;
				color: #fff;
				text-align: center;
				background: #78c8ce;
				border-radius: 5px;
			}
		}
		textarea {
			width: 562px;
			height: 49px;
			padding: 14px;
			font-family: Arial, Verdana, sans-serif;
			font-size: 12px;
			border: 2px solid #eaeeef;
			border-bottom: none;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}
}
#comments-list {
	
}