/* Override default browser styles */
body, p, ul, li, table, td, a, h1, h2, h3, h4, h5, h6, input, button, figure, figcaption {
  margin: 0;
  padding: 0; }

/* Set HTML5 as display block instead of display inline */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font: 13px/18px Arial, Verdana, sans-serif;
  color: #262626;
  background: white url(../img/test_bg.jpg) 0 0 no-repeat; }

a {
  text-decoration: none;
  outline: none; }

ul {
  list-style: none; }

img, input, textarea, select, button {
  border: none; }

table {
  border-collapse: collapse; }

textarea {
  outline: none;
  resize: none;
  overflow: auto\9; }

a:link, a:visited {
  color: #8c989c; }

a:hover, a:active {
  color: white; }

*:focus {
  outline: none; }

button {
  cursor: pointer; }

#site-wrap header {
  height: 69px;
  padding-top: 1px;
  background: transparent; }
  #site-wrap header:after {
    height: 0;
    content: '';
    visibility: hidden;
    clear: both;
    display: block; }
  #site-wrap header h1, #site-wrap header nav, #site-wrap header li {
    float: left; }
  #site-wrap header h1 {
    width: 113px;
    margin: 23px 0 0 24px; }
    #site-wrap header h1 a {
      width: 113px;
      height: 24px;
      text-indent: -9999px;
      display: block;
      background: transparent url(../img/logo.png) 0 0 no-repeat; }
  #site-wrap header nav {
    margin: 24px 0 0 39px; }
    #site-wrap header nav li a {
      padding: 15px; }
      #site-wrap header nav li a:hover {
        background: #313b3d; }

#search, #user-login {
  float: right; }

#search {
  margin: 17px 28px 0 0; }
  #search input {
    width: 91px;
    padding: 9px 12px 9px 30px;
    color: #5f6a6d;
    background: #313b3d url(../img/magnifier_icon.png) 10px center no-repeat;
    border-radius: 30px; }

#user-login {
  width: 191px;
  color: #8c989c; }
