/* Override default browser styles */
body, p, ul, li, table, td, a, h1, h2, h3, h4, h5, h6, input, button, figure, figcaption, dl, dt, dd {
  margin: 0;
  padding: 0; }

/* Set HTML5 as display block instead of display inline */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font: 13px/18px Arial, Verdana, sans-serif;
  color: #262626;
  background: white; }

a {
  text-decoration: none;
  outline: none; }

ul {
  list-style: none; }

img, input, textarea, select, button {
  border: none; }

table {
  border-collapse: collapse; }

textarea {
  outline: none;
  resize: none;
  overflow: auto\9; }

a:link, a:visited {
  color: #8c989c; }

a:hover, a:active {
  color: white; }

*:focus {
  outline: none; }

button {
  cursor: pointer; }

html, body {
  height: 100%; }

#site-wrap {
  width: 980px;
  margin: 0 auto; }
  #site-wrap:after {
    height: 0;
    content: '';
    visibility: hidden;
    clear: both;
    display: block; }
  #site-wrap header {
    height: 69px;
    padding-top: 1px;
    background: #232b2d; }
    #site-wrap header:after {
      height: 0;
      content: '';
      visibility: hidden;
      clear: both;
      display: block; }
    #site-wrap header h1, #site-wrap header nav {
      float: left; }
    #site-wrap header h1 {
      width: 113px;
      margin: 23px 0 0 24px; }
      #site-wrap header h1 a {
        width: 113px;
        height: 24px;
        text-indent: -9999px;
        display: block;
        background: transparent url(../img/logo.png) 0 0 no-repeat; }
    #site-wrap header nav {
      margin: 24px 0 0 39px; }
      #site-wrap header nav li {
        float: left; }
        #site-wrap header nav li a {
          padding: 15px; }
          #site-wrap header nav li a:hover {
            background: #313b3d; }

#search, #user-login {
  float: right; }

#search {
  margin: 17px 28px 0 0; }
  #search input {
    width: 91px;
    padding: 9px 12px 9px 30px;
    color: #5f6a6d;
    background: #313b3d url(../img/magnifier_icon.png) 10px center no-repeat;
    border-radius: 30px; }

#user-login {
  width: 191px;
  margin-top: 18px;
  color: #8c989c;
  cursor: pointer;
  position: relative; }
  #user-login > img, #user-login > p {
    float: left; }
  #user-login img {
    width: 32px;
    height: 32px; }
  #user-login p {
    padding: 0 22px 0 16px;
    line-height: 32px;
    background: transparent url(../img/dropdown_icon.png) right center no-repeat; }
  #user-login:hover #control-panel {
    display: block; }

#control-panel {
  display: none;
  position: absolute;
  top: 35px; }
  #control-panel li {
    width: 151px;
    padding: 5px 0 5px 15px;
    background: #313b3d;
    border-bottom: 1px solid #3b4648; }
    #control-panel li a {
      display: block; }
    #control-panel li:last-child {
      border-bottom: none; }

#course-info, #content {
  float: left; }

#course-info {
  width: 270px;
  padding-bottom: 415px;
  background: #313b3d; }

#course-highlight {
  height: 203px;
  padding-top: 43px;
  background: #fa7252; }
  #course-highlight h2 {
    width: 218px;
    margin: 0 auto 42px;
    font-family: Georgia, serif;
    font-size: 21px;
    color: #fff;
    line-height: 32px; }

#course-instructor-info {
  padding-left: 30px; }
  #course-instructor-info:after {
    height: 0;
    content: '';
    visibility: hidden;
    clear: both;
    display: block; }
  #course-instructor-info img, #course-instructor-info p {
    float: left; }
  #course-instructor-info img {
    width: 40px;
    height: 40px;
    margin-right: 15px; }
  #course-instructor-info p {
    margin-top: 2px;
    font-size: 11px;
    color: #ffcfc2; }
    #course-instructor-info p span {
      font-weight: bold;
      font-size: 12px;
      color: #fff;
      display: block; }

#course-progress {
  height: 55px;
  padding-top: 25px;
  background: #f16645; }
  #course-progress:after {
    height: 0;
    content: '';
    visibility: hidden;
    clear: both;
    display: block; }
  #course-progress p, #course-progress div {
    float: left; }
  #course-progress p {
    width: 40px;
    height: 30px;
    margin: 0 15px 0 30px;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background: #de5939; }
  #course-progress div {
    width: 155px;
    height: 4px;
    margin-top: 13px;
    background: #de5939; }
    #course-progress div span {
      width: 50%;
      height: 4px;
      background: #fff;
      display: block; }

#course-lessons {
  background: #313b3d; }
  #course-lessons .parent-section {
    background: transparent url(../img/vertical_line_pattern.png) 49px 0 repeat-y; }
    #course-lessons .parent-section:after {
      height: 0;
      content: '';
      visibility: hidden;
      clear: both;
      display: block; }
    #course-lessons .parent-section > h1 {
      min-height: 18px;
      padding: 21px 22px 21px 29px;
      font-size: 13px;
      color: #8c989c;
      background: #232b2d; }
  #course-lessons .child-section {
    width: 219px;
    color: #fff;
    float: right; }
    #course-lessons .child-section section {
      height: 86px;
      margin-left: 17px;
      padding: 24px 20px 0 5px;
      border-bottom: 2px solid #3b4648;
      cursor: pointer;
      position: relative; }
      #course-lessons .child-section section:last-child {
        border-bottom: none; }
      #course-lessons .child-section section h1 {
        margin-bottom: 9px;
        padding-left: 27px;
        font-size: 11px;
        text-transform: uppercase; }
      #course-lessons .child-section section .icon {
        position: absolute; }

.untouched {
  color: #fff; }
  .untouched.picture h1 {
    background: transparent url(../img/picture_icon_on.png) 0 0 no-repeat; }
  .untouched.movie h1 {
    background: transparent url(../img/movie_icon_on.png) 0 0 no-repeat; }
  .untouched.article h1 {
    background: transparent url(../img/article_icon_on.png) 0 0 no-repeat; }
  .untouched .icon {
    width: 6px;
    height: 14px;
    background: transparent url(../img/bullet_icon_on.png) 0 0 no-repeat;
    top: 30px;
    left: -21px; }

.inprogress {
  color: #949494; }
  .inprogress.picture h1 {
    background: transparent url(../img/picture_icon_off.png) 0 0 no-repeat; }
  .inprogress.movie h1 {
    background: transparent url(../img/movie_icon_off.png) 0 0 no-repeat; }
  .inprogress.article h1 {
    background: transparent url(../img/article_icon_off.png) 0 0 no-repeat; }
  .inprogress .icon {
    width: 6px;
    height: 14px;
    background: transparent url(../img/bullet_icon_off.png) 0 0 no-repeat;
    top: 30px;
    left: -21px; }

.current {
  color: #fff; }
  .current.picture h1 {
    background: transparent url(../img/picture_icon_on.png) 0 0 no-repeat; }
  .current.movie h1 {
    background: transparent url(../img/movie_icon_on.png) 0 0 no-repeat; }
  .current.article h1 {
    background: transparent url(../img/article_icon_on.png) 0 0 no-repeat; }
  .current .icon {
    width: 16px;
    height: 24px;
    background: transparent url(../img/arrow_icon.png) 0 0 no-repeat;
    top: 21px;
    left: -26px; }

.finished {
  color: #5f6a6d; }
  .finished.picture h1 {
    background: transparent url(../img/picture_icon_disabled.png) 0 0 no-repeat; }
  .finished.movie h1 {
    background: transparent url(../img/movie_icon_disabled.png) 0 0 no-repeat; }
  .finished.article h1 {
    background: transparent url(../img/article_icon_disabled.png) 0 0 no-repeat; }
  .finished .icon {
    width: 16px;
    height: 24px;
    background: transparent url(../img/check_icon.png) 0 0 no-repeat;
    top: 21px;
    left: -26px; }

#content {
  width: 648px;
  padding-top: 49px;
  padding-right: 31px;
  padding-left: 31px; }

#article {
  color: #323b3d; }
  #article > h1 {
    margin-bottom: 44px;
    padding-bottom: 43px;
    font-size: 21px;
    line-height: 32px;
    border-bottom: 1px solid #eaeeef; }
  #article > p {
    width: 405px;
    margin-left: 29px;
    font-size: 16px;
    line-height: 25px;
    float: left; }
    #article > p ~ p {
      width: 577px;
      float: none; }
  #article dl {
    margin: 3px 27px 0 0;
    text-align: right;
    float: right; }
    #article dl dt {
      margin-bottom: 20px;
      font-size: 17px; }
    #article dl dd {
      margin-bottom: 2px; }
      #article dl dd a {
        color: #323b3d; }
  #article img {
    margin: 44px 0 40px;
    clear: both; }

#lesson-info {
  margin-bottom: 23px;
  padding-top: 1px; }
  #lesson-info:after {
    height: 0;
    content: '';
    visibility: hidden;
    clear: both;
    display: block; }
  #lesson-info p {
    padding-left: 24px;
    background: transparent url(../img/picture_icon_light.png) 0 0 no-repeat;
    float: left; }
    #lesson-info p span {
      font-weight: bold; }
    #lesson-info p + p {
      width: 105px;
      padding-left: 0px;
      text-align: right;
      background: transparent url(../img/clock_icon.png) 0 0 no-repeat;
      float: right; }

#settings {
  height: 40px;
  margin-top: 68px;
  background: transparent url(../img/horizontal_line_pattern2.png) left center repeat-x; }
  #settings ul {
    width: 180px;
    margin: 0 auto; }
    #settings ul:after {
      height: 0;
      content: '';
      visibility: hidden;
      clear: both;
      display: block; }
  #settings li {
    float: left; }
    #settings li a {
      width: 40px;
      height: 40px;
      text-indent: -9999px;
      display: block;
      background-color: #fff;
      background-repeat: no-repeat; }

#favs {
  padding-left: 15px;
  background-image: url(../img/favorite_icon_off.png);
  background-position: right 0; }

#refresh {
  padding: 0 15px;
  background-image: url(../img/refresh_icon_off.png);
  background-position: center 0; }

#check {
  padding-right: 15px;
  background-image: url(../img/check_icon_on.png);
  background-position: left 0; }

#next-lesson {
  margin-top: 21px;
  padding-bottom: 41px;
  border-bottom: 2px solid #eaeeef; }
  #next-lesson:after {
    height: 0;
    content: '';
    visibility: hidden;
    clear: both;
    display: block; }

#lesson-instructor-info {
  float: left; }
  #lesson-instructor-info img, #lesson-instructor-info p {
    float: left; }
  #lesson-instructor-info img {
    margin-right: 15px; }
  #lesson-instructor-info p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 22px; }
    #lesson-instructor-info p span {
      font-weight: bold;
      display: block; }

#goto-next-lesson {
  font-size: 16px;
  text-align: right;
  float: right; }
  #goto-next-lesson p {
    margin-top: 4px;
    line-height: 24px; }
    #goto-next-lesson p span {
      display: block; }
      #goto-next-lesson p span a {
        padding-right: 24px;
        font-weight: bold;
        color: #323b3d;
        background: transparent url(../img/right_arrow_icon.png) right center no-repeat; }

#questions {
  margin-top: 48px; }
  #questions p {
    font-weight: bold;
    font-size: 16px; }
    #questions p:after {
      height: 0;
      content: '';
      visibility: hidden;
      clear: both;
      display: block; }
    #questions p span {
      margin-top: 2px;
      font-size: 11px;
      float: right; }
      #questions p span a {
        color: #89989c;
        border-bottom: 2px solid #eaeeef; }

#comments {
  margin-top: 45px; }
  #comments:after {
    height: 0;
    content: '';
    visibility: hidden;
    clear: both;
    display: block; }
  #comments img, #comments form {
    float: left; }
  #comments img {
    width: 40px;
    height: 40px;
    margin-right: 14px; }
  #comments form p + p {
    background: #f4f6f7;
    border: 2px solid #eaeeef;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
  #comments form button {
    margin: 12px 0 16px 503px;
    padding: 11px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #78c8ce;
    border-radius: 5px; }
  #comments textarea {
    width: 562px;
    height: 49px;
    padding: 14px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    border: 2px solid #eaeeef;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }

#comments-list {
  margin-top: 50px; }
  #comments-list > ul > li {
    background: transparent url(../img/vertical_line_pattern2.png) 18px 0 repeat-y; }
  #comments-list li:after {
    height: 0;
    content: '';
    visibility: hidden;
    clear: both;
    display: block; }
  #comments-list img, #comments-list .comment-content {
    float: left; }
  #comments-list img {
    width: 40px;
    height: 40px;
    margin-right: 14px; }
  #comments-list p {
    line-height: 19px; }
  #comments-list .comment-content {
    width: 594px; }
    #comments-list .comment-content h3 {
      margin-bottom: 5px;
      font-size: 12px; }
      #comments-list .comment-content h3:after {
        height: 0;
        content: '';
        visibility: hidden;
        clear: both;
        display: block; }
      #comments-list .comment-content h3 span {
        font-size: 11px;
        color: #89989c;
        text-align: right;
        float: right; }
  #comments-list .reply-box {
    margin-top: 8px; }
    #comments-list .reply-box:after {
      height: 0;
      content: '';
      visibility: hidden;
      clear: both;
      display: block; }
    #comments-list .reply-box li {
      font-weight: bold;
      font-size: 11px;
      float: left; }
      #comments-list .reply-box li a {
        color: #262626; }
  #comments-list .child-comment {
    margin-left: 55px;
    padding-top: 32px;
    clear: both; }
    #comments-list .child-comment li {
      margin-bottom: 11px; }
    #comments-list .child-comment img {
      width: 30px;
      height: 30px; }
    #comments-list .child-comment .comment-content {
      width: 549px; }
